html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: flex;
  height: 100vh;
  max-height: 100%;
  background-color: #ffffff;
  flex-direction: column;

  .content {
    width: 100%;
    height: 100%;
  }
}
