// Миксины для медиа запросов

// ####Example
//
// @include large {
//   max-width: 420px;
// }

$tablet:  768;
$large:   998;
$desktop: 1440;

@mixin tablet {
	@media only screen and (min-width: $tablet * 1px) {
		@content;
	}
}

@mixin large {
	@media only screen and (min-width: $large * 1px) {
		@content;
	}
}

@mixin desktop {
	@media only screen and (min-width: $desktop * 1px) {
		@content;
	}
}
